* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}

body {
  background-color: #F2F3F7;
}

h1, h2, a, p, dt, dd, li {
  text-decoration: none;
  color: #424242;
}

h1 {
  font-size: 25px;
}

#works h2, #contact h2 {
  padding: 30px 0 55px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 15px 0;
}

header > :first-child {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

/* index */
#aboutMe {
  padding: 40px 0 60px;
}

#aboutMe > :first-child {
  display: flex;
  justify-content: space-between;
}

#aboutMe .profile img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#aboutMe .profile ul {
  padding: 0px;
}

#aboutMe .profile li {
  padding-bottom: 10px;
}

#aboutMe dl {
  margin: 0 0 0 87px;
}

#aboutMe dt {
  font-size: clamp(1rem, 2.5vw, 1.66rem);
  font-weight: bold;
}

#aboutMe dd {
  margin: 20px 0;
  font-size: clamp(1rem, 0.1px + 2vw, 1.2rem);
  line-height: 1.5;
}

#works {
  background-color: #4F5E7F;
  padding-bottom: 60px;
}

#works h2, #works p {
  color: #F2F3F7;
}

.apps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.app {
  margin-bottom: 30px;
  width: 40%;
}

.app img {
  width: 100%;
  height: clamp(180px, 100vw / 2 - 400px, 400px);
}

footer {
  background-color: #272F3F;
  padding-bottom: 60px;
}

footer h2 {
  color: #D5C7C7;
}

.sites {
  display: flex;
  justify-content: center;
}

.sites a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
  margin: 0 40px;
  background-color: #FFF;
  border-radius: 50%;
  color: #111;
  text-align: center;
}

.sites a>img,
.sites a>p {
  width: 100px;
}


/* original & furima */
.discriptions {
  padding: 30px 0;
}

.discriptions .flexBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 36px;
}

.discriptions h2 {
  margin-top: 0;
}

.discriptions a {
  text-decoration: underline;
}

.discriptions dl {
  width: 460px;
  border: 1px solid #CCC;
  border-top: none;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.discriptions dt {
  width: 30%;
  padding: 10px;
  border-top: 1px solid #CCC;
}
.discriptions dd {
  width: 70%;
  margin-left: 30%;
  padding: 10px;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  background: #FFF;
  margin: 0;
}

.discriptions .discTitle {
  width: 100%;
  background-color: #D7DBE6;
}

.flexBox .rightBox {
  padding-left: 30px;
}

.flexBox .rightBox img {
  width: 100%;
  height: 580px;
  margin-bottom: 30px;
}

.githubIcon::before {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  display: inline-block;
  margin-right: 10px;
}

.impressions {
  border-top: #c0c0c0 solid 1px;
  background-color: #DDDFEA;
  padding: 30px 0;
}

.impressions img {
  width: 50%;
  height: clamp(180px, 100vw / 2 - 400px, 400px);
}

.discriptions > :first-child > p, .impressions p {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 30px;
}



/* furima */